<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

</head>
<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}


        <!-- <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section>The <a href="https://safenetwork.tech/" target="_blank" rel="noopener" style="font-weight: 700;">SAFE Network</a> is an <a href="https://github.com/maidsafe" target="_blank" rel="noopener" style="font-weight: 500;">open source project</a> developed by <a href="https://maidsafe.net/" target="_blank" rel="noopener" style="font-weight: 500;">MaidSafe</a> and the <a href="https://safenetforum.org/" target="_blank" rel="noopener" style="font-weight: 500;">SAFE Network community</a>.</section>
                <nav class="site-footer-nav">
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.reddit }}<a href="{{ .Site.Params.reddit }}" target="_blank" rel="noopener">Reddit</a>{{ end }}
                </nav>
            </div>
        </footer> -->

    </div>

</body>
</html>